#main__canvas {
    position: absolute;    
    background-color: transparent;
}

#main__canvas_container {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        display: none;
    }
}