@use '../util/fonts' as fonts;
@use '../util/colors' as colors;


.projects_container {
    margin: auto;
    margin-top: 100px;
    @media screen and (max-width: 420px), screen and (max-height: 375px){
        margin: 0 20px;
        text-align: center;
    }
}

.project {
    width: 100%;
    margin: 40px 0 100px 0;
    display: flex;
    
}

.project:nth-child(even) {
    justify-content: flex-start;
    margin-left: 5%;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        margin: 0 0 40px 0;
    }
}

.project:nth-child(odd) {
    justify-content: flex-end;
    margin-left: -3%;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        margin: 0 0 40px 0;
    }
}

.projects_title {
    font-family: fonts.$thick-font;
    color: white;
    text-align: center;
    font-size: 80px;
    margin-bottom: 100px;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        margin: 0;
        font-size: 50px;
        background: -webkit-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background: -moz-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background: linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.project__link {
    color: white;
    font-size: 60px;
    font-family: fonts.$thick-font;
    text-align: center;
    background-color: transparent;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        font-size: 30px;
        margin: 30px;
        text-decoration: none;
        pointer-events: none;
    }
}

.project__link:hover {
    background: -webkit-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
    background: -moz-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
    background: linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project__link, span {
    display: block;
}

.project__description {
    font-family: fonts.$thin_font;
    font-size: 18px;
    color: white;
    max-width: 400px;
    margin: auto;
    background-color: transparent;
    text-align: justify;
    @media screen and (max-width: 420px), screen and (max-height: 375px){
        font-size: 22px;
    }
}

.project__image {
    width: 250px;
    height: intrinsic;
    @media screen and (max-width: 420px), screen and (max-height: 375px){
        display: none;
    }
}

.project_text_container {
    padding-top: 20px;
    margin-left: 50px;

    @media screen and (max-width: 420px), screen and (max-height: 375px){
        margin: 0 30px;
    }
}