@use '../util/fonts' as fonts;
@use '../util/colors' as colors;

.skills_container {
    margin: 150px 0;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 420px){
        display: block;
        margin: 150px 0 80px 0;
    }
}

.skill_container__category {
    color: white;
    font-size: 30px;
    margin: 70px;
    // text-align: center;

    ul {
        list-style: none;
        margin-top: 20px;

        li {
            margin-right: 10px;
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 4px;
        }
    }

    @media screen and (max-width: 420px){
        text-align: center;
        margin: 70px 0;
    }
}

.skill_container__category__description {
    font-family: fonts.$thick-font;

    @media screen and (max-width: 420px){
        background: -webkit-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background: -moz-linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background: linear-gradient(to right, colors.$gradient-left 20%, colors.$gradient-right 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.skill {
    font-family: fonts.$thin-font;
}

