* {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.footer_warning_text {
  font-size: 28px;
  text-align: center;
  color: white;
  font-family: "Roboto";
  color: #ff9b49;
  text-transform: uppercase;
}

.footer_text {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  margin: 10px;
  font-size: 22px;
}

#main__canvas {
  position: absolute;
  z-index: -1;
}

#main__canvas_container {
  display: flex;
  justify-content: flex-end;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 85%;
}

.waveWrapperInner {
  padding-top: -5px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to right, #ffa844 20%, #ff6d29 80%);
}

.bgTop {
  z-index: -5;
  opacity: 0.5;
}

.bgMiddle {
  z-index: -10;
  opacity: 0.75;
}

.bgBottom {
  z-index: -15;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation: move_wave 40s linear infinite;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 20s linear infinite;
}

.title_container {
  margin: 80px 0 0 6%;
  width: 650px;
}

.color_span {
  position: relative;
  bottom: 200px;
  display: block;
  height: 3em;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
}

.title_name {
  position: relative;
  margin: 0 0 0 70px;
  color: white;
  line-height: 1em;
  font-family: "Bebas Neue", cursive;
  font-size: 13em;
  text-transform: uppercase;
  z-index: 2;
  background-color: transparent;
}

.title_decription {
  margin: 0 0 0 70px;
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.skills_container {
  margin: 150px 0;
  display: flex;
  justify-content: center;
}

.skill_container__category {
  color: white;
  font-size: 30px;
  margin: 70px;
}
.skill_container__category ul {
  list-style: none;
  margin-top: 20px;
}
.skill_container__category ul li {
  margin-right: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 4px;
}

.skill_container__category__description {
  font-family: "Bebas Neue";
}

.skill {
  font-family: "Roboto";
}

.projects_container {
  margin: auto;
  margin-top: 100px;
}

.project {
  width: 100%;
  margin: 40px 0 100px 0;
  display: flex;
}

.project:nth-child(even) {
  justify-content: flex-start;
  margin-left: 5%;
}

.project:nth-child(odd) {
  justify-content: flex-end;
  margin-left: -3%;
}

.projects_title {
  font-family: "Bebas Neue";
  color: white;
  text-align: center;
  font-size: 80px;
  margin-bottom: 100px;
}

.project__link {
  color: white;
  font-size: 60px;
  font-family: "Bebas Neue";
  text-align: center;
  background-color: transparent;
}

.project__link:hover {
  background: -webkit-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background: -moz-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__link, span {
  display: block;
}

.project__description {
  font-family: "Roboto";
  color: white;
  max-width: 400px;
  margin: auto;
  background-color: transparent;
  text-align: justify;
}

.project__image {
  width: 250px;
}

.project_text_container {
  padding-top: 20px;
  margin-left: 50px;
}

.links_container {
  margin: 0 0 150px 6%;
}
.links_container ul {
  margin: 0 0 0 72px;
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.links_container ul li {
  display: inline;
  margin-right: 30px;
}
.links_container ul li a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=styles.css.map */
