* {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.footer_warning_text {
  font-size: 28px;
  text-align: center;
  color: white;
  font-family: "Roboto";
  color: #ff9b49;
  text-transform: uppercase;
  display: none;
}

.footer_text {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  margin: 10px;
  font-size: 22px;
}

#main__canvas {
  position: absolute;
  background-color: transparent;
}

#main__canvas_container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 420px) {
  #main__canvas_container {
    display: none;
  }
}

.title_container {
  margin: 80px 0 0 6%;
  width: 650px;
}
@media screen and (max-width: 420px) {
  .title_container {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
  }
}

.color_span {
  position: relative;
  bottom: 200px;
  display: block;
  height: 3em;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
}
@media screen and (max-width: 420px) {
  .color_span {
    width: 80%;
    height: 1.5em;
    bottom: 103px;
    margin: auto;
  }
}

.title_name {
  position: relative;
  margin: 0 0 0 70px;
  color: white;
  line-height: 1em;
  font-family: "Bebas Neue", cursive;
  font-size: 13em;
  text-transform: uppercase;
  z-index: 2;
  background-color: transparent;
}
@media screen and (max-width: 420px) {
  .title_name {
    margin: 0;
    font-size: 6em;
  }
}

.title_decription {
  margin: 0 0 0 70px;
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 420px) {
  .title_decription {
    margin: 0;
    font-size: 30px;
  }
}

.skills_container {
  margin: 150px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  .skills_container {
    display: block;
    margin: 150px 0 80px 0;
  }
}

.skill_container__category {
  color: white;
  font-size: 30px;
  margin: 70px;
}
.skill_container__category ul {
  list-style: none;
  margin-top: 20px;
}
.skill_container__category ul li {
  margin-right: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 4px;
}
@media screen and (max-width: 420px) {
  .skill_container__category {
    text-align: center;
    margin: 70px 0;
  }
}

.skill_container__category__description {
  font-family: "Bebas Neue";
}
@media screen and (max-width: 420px) {
  .skill_container__category__description {
    background: -webkit-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background: -moz-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.skill {
  font-family: "Roboto";
}

.projects_container {
  margin: auto;
  margin-top: 100px;
}
@media screen and (max-width: 420px) {
  .projects_container {
    margin: 0 20px;
    text-align: center;
  }
}

.project {
  width: 100%;
  margin: 40px 0 100px 0;
  display: flex;
}

.project:nth-child(even) {
  justify-content: flex-start;
  margin-left: 5%;
}
@media screen and (max-width: 420px) {
  .project:nth-child(even) {
    margin: 0 0 40px 0;
  }
}

.project:nth-child(odd) {
  justify-content: flex-end;
  margin-left: -3%;
}
@media screen and (max-width: 420px) {
  .project:nth-child(odd) {
    margin: 0 0 40px 0;
  }
}

.projects_title {
  font-family: "Bebas Neue";
  color: white;
  text-align: center;
  font-size: 80px;
  margin-bottom: 100px;
}
@media screen and (max-width: 420px) {
  .projects_title {
    margin: 0;
    font-size: 50px;
    background: -webkit-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background: -moz-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.project__link {
  color: white;
  font-size: 60px;
  font-family: "Bebas Neue";
  text-align: center;
  background-color: transparent;
}
@media screen and (max-width: 420px) {
  .project__link {
    font-size: 30px;
    margin: 30px;
    text-decoration: none;
    pointer-events: none;
  }
}

.project__link:hover {
  background: -webkit-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background: -moz-linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background: linear-gradient(to right, #ff9b49 20%, #ff6905 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__link, span {
  display: block;
}

.project__description {
  font-family: "Roboto";
  font-size: 18px;
  color: white;
  max-width: 400px;
  margin: auto;
  background-color: transparent;
  text-align: justify;
}
@media screen and (max-width: 420px) {
  .project__description {
    font-size: 22px;
  }
}

.project__image {
  width: 250px;
  height: intrinsic;
}
@media screen and (max-width: 420px) {
  .project__image {
    display: none;
  }
}

.project_text_container {
  padding-top: 20px;
  margin-left: 50px;
}
@media screen and (max-width: 420px) {
  .project_text_container {
    margin: 0 30px;
  }
}

.links_container {
  margin: 0 0 150px 6%;
  position: absolute;
  z-index: 2;
}
.links_container ul {
  margin: 0 0 0 72px;
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.links_container ul li {
  display: inline;
  margin-right: 30px;
}
.links_container ul li a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 420px) {
  .links_container ul li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 420px) {
  .links_container ul {
    margin: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .links_container {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
